<!-- <div class="col-sm-4">
  <img src="images/dashboard-logo_2.png" style="width:100%;     margin-top: 83px;">
</div>
<div class="col-sm-8 jumbotron">
  <h2>Request Access</h2>

  <ul class="nav nav-tabs nav-justified" style=" width: 100%">
      <li class="active">
          <img src="images/avatar.png" class="users">
          <div class="user-title">
              <h4>Mangesh Bole</h4>
              <span class="btn btn-primary">Request Access</span>
          </div>
      </li>
      <li>
          <img src="images/avatar.png" class="users">
          <div class="user-title">
              <h4>Raju Ghadgil</h4>
              <span class="btn btn-primary">Request Access</span>
          </div>
      </li>
      <li>
          <img src="images/avatar.png" class="users">
          <div class="user-title">
              <h4>Ritesh Sahu</h4>
              <span class="btn btn-success">Access Permitted</span>
          </div>
      </li>
      <li>
          <img src="images/avatar.png" class="users">
          <div class="user-title">
              <h4>Sagar Wane</h4>
              <span class="btn btn-warning">Pending Request</span>
          </div>
      </li>
  </ul>
</div> -->

<h1 style="    margin: 100 auto;
text-align: center;
font-size: 80px;">Welcome</h1>